/* Icons */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

/* Tier Badge */
.tier-badge {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tier-badge-sm {
  width: 32px;
  height: 32px;
}

.tier-badge-md {
  width: 40px;
  height: 40px;
}

.tier-badge-lg {
  width: 56px;
  height: 56px;
}

.tier-shield {
  width: 100%;
  height: 100%;
}

.tier-text {
  position: absolute;
  font-size: 0.625rem;
  font-weight: 700;
  color: #0A0A0F;
}

.tier-badge-md .tier-text {
  font-size: 0.75rem;
}

.tier-badge-lg .tier-text {
  font-size: 0.875rem;
}

/* Country Flag */
.country-flag {
  display: inline-block;
  vertical-align: middle;
}
